<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50" *ngIf="isVisible">
    <div class="bg-white p-6 rounded shadow-lg w-full max-w-md">
      <h2 class="text-2xl mb-4">Add Invitation</h2>
      <form [formGroup]="invitationForm" (ngSubmit)="submit()">
        <div class="mb-4">
          <label class="block text-gray-700">Name *</label>
          <input class="w-full px-3 py-2 border rounded" formControlName="name">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Email *</label>
          <input class="w-full px-3 py-2 border rounded" formControlName="email" type="email">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Expiration Date *</label>
            <input class="w-full px-3 py-2 border rounded" formControlName="expiration" type="date" placeholder="YYYY-MM-DD">
          </div>
        <div class="mb-4">
          <label class="block text-gray-700">Role *</label>
          <select class="w-full px-3 py-2 border rounded" formControlName="role">
            <option *ngFor="let roleKey of (roles | keyvalue)" [value]="roleKey.key">{{ roleKey.value }}</option>
          </select>
        </div>
        <div class="flex justify-end">
          <button type="button" class="mr-2 px-4 py-2 bg-gray-500 text-white rounded" (click)="close()">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-emerald-500 text-white rounded">Add</button>
        </div>
      </form>
    </div>
  </div>
  
