<div>
  <app-header></app-header>
  <app-sidenav></app-sidenav>
  <div class="min-h-screen flex flex-col bg-gradient-to-t from-emerald-200 to-white">
    <div class="min-h-screen flex flex-col">
      <div class="flex-1 flex flex-col items-center justify-center ml-1/4">
          <div class="mb-8 opacity-75">
              <img src="src/assets/homePageLogo.png" alt="BuildingManagerLogo" class="w-40 h-50">
          </div>
          <div class="text-center">
              <h1 class="text-4xl text-emerald-900 font-bold mb-4">Welcome!</h1>
              <p class="text-lg text-emerald-900 mb-8">BuildingManager is a comprehensive app for managing buildings.</p>
          </div>
      </div>
  </div>
  </div>
</div>


